.admin {
    display: flex;
    margin: 40px 25%;
}

.sideMenu {
    width: 230px;
}
.menuBox {
    padding: 15px 5px;
}
.menuTitle {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 9px;
}
.menuList {
    font-size: 15px;
    margin: 3px 0px;
}

.content {
    width: 81%;
}

/* registerMovie */
.controlBox {
    display: flex;
    justify-content: right;
}
.uploadForm {
    width: 100%;
    display: flex;
}

#sortingSelectBox{
    height: 32px;
    font-size: 14px;
    color: black;
    background-color: #fff;
    border: 2px solid #004D09;
    border-radius: 7px;
    padding: .375rem .75rem;
}
#searchBox {
    height: 30px;
    font-size: 14px;
    color: black;
    background-color: #fff;
    border: 2px solid #004D09;
    border-radius: 7px;
    padding: 0px 10px;
}

/* UserList */
.userCard {
    border-bottom: 1px solid;
    margin-bottom: 6px;
    padding-bottom: 6px;
}
.userCard .label {
    color: #656565;
    min-width: 75px;
}