.reviewBox{
    width: 100%;
    border-top: 2px solid #004D09;
    padding-top: 40px;

}
.reviewTextField{
    display: flex;
    align-content: center;
    width: 100%;
    justify-content: center;
}
.userImg {
    width: 83px;
    align-content: center;
}
.userImg img {
    width: 100%;
}

.reviewList {
    height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
}
.addReviewButton {
    width: 50px;
    align-content: center;
    text-align: center;
}
.addReviewButton img {
    width: 56%;
}

.selectRating{
    height: 31px;
    font-size: 1rem;
    color: black;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    padding: .375rem .75rem;
}