.signup {
    width: 350px;
    justify-self: center;
    margin: 60px 0px;
}
.form-box {
    display: flex;
    flex-direction: column;
    margin-bottom : 15px;
}

.age input {
    height: 10px;
    width: 205px;
}

.gender-form-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #A6A6A6;
    border-bottom: 1px solid #949494;
    margin-bottom : 15px;
    padding-bottom : 8px;
}
.gender-form-box:hover {
    border-bottom: 2px solid #212121;
}

.form-select {
    height: 35px;
    font-size: 1rem;
    color: black;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    padding : .375rem .75rem;
}
.disabled {
    display: none;
}
#warning {
    color: red;
    text-align: center;
    margin-bottom: 6px;
    font-size: 14px;
}