.flex {
    display: flex;
    align-items: cetner;
}
.fx-dir-col {
    flex-direction: column;
}
.jsfy-cnt-cnt {
    justify-content: center;
}
.mainFontColor {
    color: #004D09;
}


.mb-5 {
    margin-bottom: 5px !important;
}
.mb-6 {
    margin-bottom: 6px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mb-14 {
    margin-bottom: 14px !important;
}
.mb-18 {
    margin-bottom: 18px !important;
}
.mb-44 {
    margin-bottom: 44px !important;
}
.mb-73 {
    margin-bottom: 73px !important;
}
.mb-110 {
    margin-bottom: 110px !important;
}

.mt-18 {
    margin-top: 18px !important;
}

.mr-6 {
    margin-right: 6px !important;
}
.mr-12 {
    margin-right: 12px !important;
}
.mr-20 {
    margin-right: 20px !important;
}
.m1-10 {
    margin-left: 10px !important;
}

.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-19 {
    font-size: 19px;
}
.bold {
    font-weight: bold;
}
.nowrap {
    text-wrap: nowrap;
}
.of_hd {
    overflow: hidden;
}

.wd-50p{
    width: 50%;
}

