.flex {
    display: flex;
    align-items: center;
}
.fx-dir-col {
    flex-direction: column;
}
.jsfy-cnt-cnt {
    justify-content: center;
}
.jsfy-cnt-rght {
    justify-content: right;
}
.jsfy-cnt-spc-btwn {
    justify-content: space-between;
}

.opacity-07 {
    opacity: 0.7;
}
.pointer {
    cursor: pointer;
}


.mb-5 {
    margin-bottom: 5px !important;
}
.mb-6 {
    margin-bottom: 6px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mb-14 {
    margin-bottom: 14px !important;
}
.mb-18 {
    margin-bottom: 18px !important;
}
.mb-24 {
    margin-bottom: 24px !important;
}
.mb-28 {
    margin-bottom: 28px !important;
}
.mb-44 {
    margin-bottom: 44px !important;
}
.mb-73 {
    margin-bottom: 73px !important;
}
.mb-110 {
    margin-bottom: 110px !important;
}

.mt-6 {
    margin-top: 6px !important;
}
.mt-10 {
    margin-top: 10px !important;
}
.mt-15 {
    margin-top: 15px !important;
}
.mt-18 {
    margin-top: 18px !important;
}

.mr-6 {
    margin-right: 6px !important;
}
.mr-7 {
    margin-right: 7px !important;
}
.mr-12 {
    margin-right: 12px !important;
}
.mr-15 {
    margin-right: 15px !important;
}
.mr-20 {
    margin-right: 20px !important;
}
.m1-10 {
    margin-left: 10px !important;
}

.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-19 {
    font-size: 19px;
}
.fs-23 {
    font-size: 23px;
}
.fs-30 {
    font-size: 30px;
}

.color-green {
    color: #004D09;
}
.color-gray {
    color: #656565;
}
.color-light-gray {
    color: #A2A2A2;
}

.bold {
    font-weight: bold;
}
.nowrap {
    text-wrap: nowrap;
}
.of_hd {
    overflow: hidden;
}

.width-50p{
    width: 50% !important;
}
.width-83p{
    width: 83% !important;
}
.width-100p{
    width: 100% !important;
}
.width-65vh{
    width: 65vh !important;
}
.width-14 {
    width: 14px !important;
}
.width-22 {
    width: 22px !important;
}
.width-28 {
    width: 28px !important;
}
.width-50 {
    width: 50px !important;
}
.width-180 {
    width: 180px !important;
}
.min-width-20 {
    min-width: 20px;
}
.min-width-65 {
    min-width: 65px;
}
.min-width-75 {
    min-width: 75px;
}


.height-100p{
    height: 100% !important;
}
.height-35 {
    height: 35px !important;
}

.pstn-relative {
    position:relative;
}
.pstn-absolute {
    position:absolute;
}
.pstn-left {
    left:0;
}
.pstn-right {
    right:0;
}
